services:
  localstack: # LocalStack container
    image: localstack/localstack:4.10.0
    container_name: localstack
    ports:
      - "4566:4566"
    volumes:
      - ../localstack-setup.sh:/etc/localstack/init/ready.d/script.sh
    networks:
      - ls


  review-collector:
    image: teixeirafernando/review-collector:latest
    container_name: review-collector
    environment:
      AWS_ENDPOINT: http://localstack:4566
    depends_on:
      - localstack
    ports:
      - "8080:8080"
    networks:
      - ls

  review-analyzer:
    image: teixeirafernando/review-analyzer:latest
    container_name: review-analyzer
    environment:
      AWS_ENDPOINT: http://localstack:4566
    depends_on:
      - localstack
    ports:
      - "8081:8081"
    networks:
      - ls

  frontend-review:
    image: teixeirafernando/frontend-review:latest
    container_name: frontend-review
    depends_on:
      - localstack
    ports:
      - "3000:80"
    networks:
      - ls

networks:
  ls:
    driver: bridge