version: '3'

services:
  localstack: # LocalStack container
    image: localstack/localstack:4.12.0
    ports:
      # Now only required if you need to access LocalStack from the host
      - "127.0.0.1:4566:4566"
      # Now only required if you need to access LocalStack from the host
      - "127.0.0.1:4510-4559:4510-4559"
    volumes:
      - ./localstack-setup.sh:/etc/localstack/init/ready.d/script.sh
    networks:
      - ls


  review-collector:
    image: teixeirafernando/review-collector:latest
    container_name: review-collector
    environment:
      AWS_ENDPOINT: http://localstack:4566
    depends_on:
      - localstack
    ports:
      - "8080:8080"
    networks:
      - ls

  review-analyzer:
    image: teixeirafernando/review-analyzer:latest
    container_name: review-analyzer
    environment:
      AWS_ENDPOINT: http://localstack:4566
    depends_on:
      - localstack
    ports:
      - "8081:8081"
    networks:
      - ls


  frontend-review:
    image: teixeirafernando/frontend-review:latest
    container_name: frontend-review
    ports:
      - "3000:80"
    networks:
      - ls

  e2e-tests:
    image: teixeirafernando/review-analysis-e2e-tests:latest
    environment:
      - REVIEW_COLLECTOR_BASE_URL=review-collector
      - REVIEW_ANALYZER_BASE_URL=review-analyzer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - review-collector
      - review-analyzer
      - frontend-review
      - localstack
    networks:
      - ls
    entrypoint: [ "sh", "-c", "while ! nc -z review-collector 8080; do sleep 1; done; while ! nc -z review-analyzer 8081; do sleep 1; done; ./gradlew :e2e-tests:test --tests '*ReviewAnalysisE2ETest'" ]

networks:
  ls:
    driver: bridge