name: E2E tests - Release Process

on:
  workflow_run:
    workflows: [ "Review Analyzer - Release Process", "Review Collector - Release Process" ]
    types: [ completed ]

jobs:
  run-e2e-tests-with-real-AWS-services:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESSKEY: ${{ secrets.AWS_ACCESSKEY }}
      AWS_SECRETKEY: ${{ secrets.AWS_SECRETKEY }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@0567fa5ae8c9a197cb207537dc5cbb43ca3d803f
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build and push e2e-tests docker image
        run: |
          docker build . -t teixeirafernando/review-analysis-e2e-tests -f ./e2e-tests/Dockerfile
          docker push teixeirafernando/review-analysis-e2e-tests

      - name: Run docker-compose
        run: docker compose -f docker-compose-real-AWS-services.yml up --build --abort-on-container-exit

      - name: Tear down Docker Compose
        run: docker compose down