name: E2E Tests - Continuous Integration
on:
  pull_request:
    branches: ["main"]
jobs:
  Run-Tests-With-DockerCompose:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
          settings-path: ${{ github.workspace }} # location for the settings.xml file
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build without Tests with Gradle - Review Analyzer
        run: ./gradlew :review-analyzer:build -x test
      - name: Build without Tests Gradle - Review Collector
        run: ./gradlew :review-collector:build -x test
      - name: Run docker-compose - LocalStack setup
        run: docker compose up --build --abort-on-container-exit
      - name: Tear down Docker Compose
        run: docker compose down

  Run-Tests-With-Whole-Setup-Already-Included:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
          settings-path: ${{ github.workspace }} # location for the settings.xml file
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build without Tests with Gradle - Review Analyzer
        run: ./gradlew :review-analyzer:build -x test
      - name: Build without Tests Gradle - Review Collector
        run: ./gradlew :review-collector:build -x test

      - name: Define docker image tag
        id: env
        run: |
          export IMAGE_TAG_ENV=dev-${{ github.run_number }}
          echo "IMAGE_TAG=$IMAGE_TAG_ENV" >> "$GITHUB_ENV"
          echo "IMAGE_TAG=$IMAGE_TAG_ENV" >> $GITHUB_OUTPUT

      - name: Build and push Docker image - Review Collector
        uses: docker/build-push-action@64c9b141502b80dbbd71e008a0130ad330f480f8
        with:
          context: ./review-collector  # Path to the folder where Dockerfile is located
          file: ./review-collector/Dockerfile
          push: true
          tags: teixeirafernando/review-collector:${{ env.IMAGE_TAG }}

      - name: Build and push Docker image - Review Analyzer
        uses: docker/build-push-action@64c9b141502b80dbbd71e008a0130ad330f480f8
        with:
          context: ./review-analyzer  # Path to the folder where Dockerfile is located
          file: ./review-analyzer/Dockerfile
          push: true
          tags: teixeirafernando/review-analyzer:${{ env.IMAGE_TAG }}
      - name: Run Test - ReviewAnalysisE2ETestWithEverything
        env:
          REVIEW_COLLECTOR_DOCKER_IMAGE: teixeirafernando/review-collector:${{ env.IMAGE_TAG }}
          REVIEW_ANALYZER_DOCKER_IMAGE: teixeirafernando/review-analyzer:${{ env.IMAGE_TAG }}
        run: ./gradlew :e2e-tests:test --tests '*ReviewAnalysisE2ETestWithEverything'
