name: Review Analyzer - Continuous Integration

on:
  pull_request:
    paths:
      - 'review-analyzer/**'
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4

      - name: Build with Gradle
        run: ./gradlew :review-analyzer:build

      - name: Test with Gradle
        run: ./gradlew :review-analyzer:test

